openapi: 3.0.0
info:
  title: Season and Price API
  description: API for managing season times and price categories.
  version: 1.0.0
servers:
  - url: http://hotel.com/api
paths:
  /seasons:
    post:
      operationId: createSeason
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
      responses:
        '200':
          description: OK
        '400':
          description: Invalid data
        '401':
          description: Authentication failed
        '500':
          description: Error creating season time

  /seasons/{seasonId}:
    delete:
      operationId: deleteSeason
      security:
        - bearerAuth: []
      parameters:
        - name: seasonId
          in: path
          required: true
          schema:
            type: string
	    format: uuid
      responses:
        '200':
          description: OK
        '400':
          description: Invalid ID
        '401':
          description: Authentication failed
        '500':
          description: Error deleting season time

  /price-categories/{categoryId}:
    put:
      operationId: updatePriceCategory
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
 	    format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
              properties:
                name:
                  type: string
                price:
                  type: number
                  format: float
      responses:
        '200':
          description: OK
        '400':
          description: Invalid data
        '401':
          description: Authentication failed
        '500':
          description: Error updating price category

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
